/* ここにはページごとの個別設定を記述します。 */
/* sample.htmlのスタイルを設定します
画像サイズを調整します */
.img_left{
  width: 500px;
  height: auto;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ ゴシック", "MS Gothic", sans-serif;
}